# Ignore dot prefixed files
.*

# Visual Studio files
*.vcxproj*
*.sln

# Object files
*.o
*.obj
*.out

# Libraries and supporting files
*.dll
*.so
*.dylib
*.a
*.la
*.exp
*.lib

# Executables
*.exe


